.venv/
__pycache__/
backups/
*.log
*.db
.env*
ngrok.exe

# Ignore runtime output
/results/
/logs/
/archive/

/*.xlsx
/*.csv
/*.png
/*.txt

# Ignore runtime artifacts
/data/*.db
/results/*
/backups/*
/logs/*
/archive/*
.env*
pandoc-3.8.2-windows-x86_64.msi